
*{margin: 10px; padding: 10px; background-color: rgb(182, 188, 174);

}


a{color: rgba(93, 105, 196, 0.785); padding: 10px;font-style: italic

}


h3{color:rgba(93, 105, 196, 0.785);font-style: italic

}


footer{font-style: italic;

}


.contenido{color: rgb(5, 91, 91);

}