
*{margin: 10px; padding: 10px; background-color: rgb(182, 188, 174);

}


a{color: rgba(93, 105, 196, 0.785); padding: 10px;font-style: italic;
    border-style: solid;
    border-color: rgb(105, 153, 32);
    border: 1px;
}


h3{color:rgba(93, 105, 196, 0.785);font-style: italic

}


footer{font-style: italic;

}


.contenido{color: rgb(5, 91, 91);

}
.displays{
    display: inline-block;
    margin: 10px;
}
