/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Estilos para el encabezado */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #158012;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Estilos para la navegación */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #106c88;
    color: #fff;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Estilos para el contenido principal */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .consultorio-cannabico {
  background-color: #f1f1f1;
  padding: 50px;
  text-align: center;
}
.banner {
  position: relative;
  overflow: hidden;
}
.imagen-4 {
  width: 300px;
  height: 200px;
  padding: 20px;
}
banner-img {
  position: absolute;
  top: 0;
  left: -100px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input:invalid,
textarea:invalid {
  border-color: #d00;
}

input:valid,
textarea:valid {
  border-color: #090;
}
.consultorio-cannabico h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.boton-arriba {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 26px;
  margin: 20px;
}
.boton-arriba:hover {
  background-color: #3e8e41;
}
.consultorio-cannabico p {
  font-size: 18px;
  margin-bottom: 30px;
}

.consultorio-cannabico ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.consultorio-cannabico li {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 0;
}

.consultorio-cannabico li:before {
  content: "•";
  margin-right: 10px;
  color: #8bc34a;
}

  section {
    margin-bottom: 20px;
  }
  
  article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
  }
  .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-buttons a {
    display: block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  .social-buttons a:hover {
    transform: scale(1.2);
  }
  img {
    max-width: 100%;
    height: 70%;
    border: 1px solid #ccc;
  } 
.consultorio-cannabico {
  background-color: #159909;
  padding: 50px;
  text-align: center;
}

.consultorio-cannabico h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.consultorio-cannabico p {
  font-size: 18px;
  margin-bottom: 30px;
}

.consultorio-cannabico ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.consultorio-cannabico li {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 0;
}

.consultorio-cannabico li:before {
  content: "•";
  margin-right: 10px;
  color: #8bc34a;
  padding: 10px;
  margin-bottom: 20px;
  }

  article h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  article p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }